{% extends "base_generic.html" %}

{% load static %}

{% block sidebar %}
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="{% url 'home' %}" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Buscar un paciente</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Registrar Paciente</span>
                        </a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{% static 'inicio1.png' %}" alt="hugenerd" width="30" height="30" class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">Usuario</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
      <div class="col py-3">
        <h2>Listado de Comentarios</h2>
        {% if comentarios %} 
<tbody>
    {% for comentario in comentarios %}
    <tr>
        <td>{{ comentario.fecha_comentario}}</td>
        <td>{{ comentario.hora_comentario}}</td>
        <td>{{ comentario.estadotd }} </td>
        <td>{{ comentario.comentario}}</td>
        <td>{{ comentario.id_funcionario}}</td>
    </tr>
    {% endfor %}
</tbody>
  {% else %}
    <strong>No tiene comentarios aún</strong>
    {% endif %}

        <a href="{% url 'ficha' %}"></a>
      </div>
  </div>
</div>
{% endblock %}