{% extends "base_generic.html" %}

{% load static %}

{% block title %} <title>Enfermeria</title> {% endblock %}
 
{% block navbar %}  
<!-- Navbar   -->
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="javascript:void(0)">Conecta +</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">Guia de Uso</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">¿Quienes somos?</a>
          </li>
        </ul>
        <div class="d-flex ">
          <a href="">
            <button class="btn btn-primary m-2" type="button">Iniciar Sesi&oacute;n</button>
          </a>
          <a href="{% url 'registrarse' %}">
            <button class="btn btn-success m-2" type="button">Registrarse</button>
          </a>
        </div>
      </div>
    </div>
  </nav>  
  {% endblock %} 

  
{% block carousel %}

<div class="jumbotron" style="background-image: url(./../static/enfermera2.jpg); background-size: 100%;">
  <div class="container for-about">
    <div class="row p-4 ">
      <div class="d-flex justify-content-center mt-5">
          <h1>Mantente m&aacute;s cerca que nunca</h1>
      </div>
   <div class="row pt-2">
       <div class="d-flex justify-content-center"> 
          <h3>Estado en tiempo real de esa persona que tanto te importa</h3>
       </div>
   </div>   
   <div class="row mb-5">
      <div class="d-flex justify-content-center">
          <h2>Conecta+</h2>
      </div>
  </div>
  <div class="row">
      <div class="d-flex justify-content-center">

<h5 class="mb-1">Bienvenidos a <em><strong>Conecta+</strong></em>, lo mejor es poder saber el estado médico de esa persona especial
<br/>Queremos brindarte la mejor compañia y cercanía al paciente desde donde te encuentres</h5>
</div>
</div>
</div>
  </div>
  <div>
  </div>

  <div class="row pt-7 ">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <h3 class="cuadro" >Puedes Iniciar Sesi&oacute;n &oacute; Registrarte!</h3>
    </div>
    <div class="col-sm-3"></div>
  </div>
  <div class="row pt-7 d-flex justify-content-center">
    <div class="col-sm-3"></div>
    <div class="col-sm-3 d-flex justify-content-center">
      <a href="">
        <button type="button" class="btn btn-primary btn-lg btn-block">Iniciar Sesi&oacute;n</button>
      </a>
    </div>
    <div class="col-sm-3 d-flex justify-content-center">
      <a href="{% url 'registrarse' %}">
        <button type="button" class="btn btn-success btn-lg btn-block" id="23"> Registrarse</button>
      </a>
    </div>
    <div class="col-sm-3 mb-5"></div>
    <div class="espacio"></div>
  </div>
</div>

{% endblock%}